/ArchiveHelper/ArchiveHelper.v12.suo
/ArchiveHelper/ArchiveHelper/bin/
/ArchiveHelper/ArchiveHelper/obj/
/ArchiveHelper/ArchiveHelper/bin/Release/ArchiveHelper.exe
/ArchiveHelper/ArchiveHelper/bin/Release/ArchiveHelper.pdb
/ArchiveHelper/ArchiveHelper/obj/Release/ArchiveHelper.csproj.FileListAbsolute.txt
/ArchiveHelper/ArchiveHelper/obj/Release/ArchiveHelper.csprojResolveAssemblyReference.cache
/ArchiveHelper/ArchiveHelper/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
